In [5]:
import pandas as pd

In [6]:
pd.set_option('display.width', 1000)
pd.set_option('colheader_justify', 'center')

In [7]:
file_to_load = "Resources/cities.csv"

# Read Purchasing File and store into Pandas data frame
cities_df = pd.read_csv(file_to_load)
cities_df.head()

   City_ID      City      Cloudiness Country     Date     Humidity   Lat     Lng   Max Temp  Wind Speed
0     0     jacareacanga        0       BR    1528902000     62     -6.22  -57.76    89.60       6.93
1     1       kaitangata      100       NZ    1528905304     94    -46.28  169.85    42.61       5.64
2     2         goulburn       20       AU    1528905078     91    -34.75  149.72    44.32      10.11
3     3             lata       76       IN    1528905305     89     30.78   78.62    59.89       0.94
4     4       chokurdakh        0       RU    1528905306     88     70.62  147.90    32.17       2.95

In [8]:
html_string = '''
<html>
  <head><title>DATA</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>



  <link rel="stylesheet" type="text/css" href="df_style_1.css"/>
  
  </head>  
 <body >

    <div class="container-fluid bg-light">

           <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white static-top ">
                         
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="navbar-toggler-icon"></span>
                        </button> 
                        <a class="nav-link" href="0_Main.html" style="background-color:rgb(60, 179, 159); color:white">&nbsp;Latitude&nbsp;</a>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                            <ul class="navbar-nav ml-md-auto">
                                
                                <li class="nav-item dropdown">
                                     <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Plots</a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="4_wind_speed.html">Wind</a>
                                        <a class="dropdown-item" href="1_max_temperature.html">Temperature</a>
                                        <a class="dropdown-item" href="3_Cloudiness.html">Cloudiness</a>
                                        <a class="dropdown-item" href="2_humidity.html">Humidity</a>   
                                    </div>
                                </li>

                                <li class="nav-item active">
                                    <a class="nav-link" href="5_comparisons.html">Comparison</a>
                                </li>

                                <li class="nav-item active">
                                    <a class="nav-link" href="6_data.html">Data</a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row bg-light">
            <p>	&nbsp;</p>
        </div>

        <div class="container  bg-white">
            <h1 style="color:rgb(60, 179, 159)">Data</h1>
            <hr class="solid">
            <p>
                The following table includes all of the data used for plotting during this project.
            </p>
            {table}
     
         </div>
     
     </div>
  
  
  
  
  </body>
</html>
'''

with open('6_data.html', 'w') as f:
    f.write(html_string.format(table=cities_df.to_html(classes= "table",index = False, border=0 )))